body{
  line-height:1;
  color:#333;
  width:100%;
  margin:0 auto;
  -webkit-text-size-adjust:none;
  overflow-x:hidden
}
p,ol,ul,li{list-style:none}
/* a,span{line-height:1;color:#333;text-decoration:none} */
button{outline:0}
label{font-weight:normal}
img{width:100%;}
a img{word-break:break-all;word-wrap:break-word}
a:hover,a:focus{text-decoration:none}
:focus{outline:0}
*,
*:after,
*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:none}
html,body{padding:0; margin:0 auto; height:100%; font-size:15px;}
*{-webkit-appearance:none; margin:0; padding:0}
a, span{color:inherit ; line-height:inherit; text-decoration:none}
input{
  outline:none;color:inherit;
  font:inherit;
  margin:0;
  line-height:normal;}

/**
 * CSS3 答题卡翻页效果 jQuery Transit 
 * @authors Candice <286556658@qq.com>
 * @date    2016-9-27 15:30:18
 * @version v1.0.8
 */
.wrapper{width:100%; margin:0 auto;}
.card_wrap{width:100%; position:relative; overflow:hidden; display:none}
.card_cont{width:100%; box-sizing:border-box; margin:0 auto; position:absolute;  background:url("../images/test_back.png") no-repeat center top; background-size:102% auto; padding:8px 20px 18px; transition:all ease .5s; -webkit-transition:all ease .5s; -moz-transition:all ease .5s; -ms-transition:all ease .5s; transform:scale(0,0); -moz-transform:scale(0,0);-ms-transform:scale(0,0); -o-transform:scale(0,0); -webkit-transform:scale(0,0); bottom:0; display:none;}
.card{width:100%; height:100%; position:relative; margin:0 auto; padding:0 18px; }
.card .card_bottom{width:100%; position:absolute; bottom:28px; left:0; box-sizing:border-box; padding:0 28px}
.card .card_bottom a{color:#c733c5; cursor:pointer }
.card .card_bottom span{float:right; color:#909090}.card .card_bottom span b{color:#666; font-weight:inherit}

.card_cont.card1{ display:block;transform:scale(1,1) translate(0,0) !important ;  
-ms-transform:scale(1,1) translate(0,0) !important ; 
-moz-transform:scale(1,1) translate(0,0) !important ; 
-webkit-transform:scale(1,1) translate(0,0) !important ; 
}
.card_cont.card2{ display:block;
transform:scale(.85,.85) translate(0,-62px) !important ; 
-ms-transform:scale(.85,.85) translate(0,-62px) !important ; 
-moz-transform:scale(.85,.85) translate(0,-62px) !important ; 
-webkit-transform:scale(.85,.85) translate(0,-62px) !important;
}
.card_cont.card3{ display:block;
transform:scale(.72,.72) translate(0,-135px) !important ; 
-ms-transform:scale(.72,.72) translate(0,-135px) !important ; 
-moz-transform:scale(.72,.72) translate(0,-135px) !important ;
-webkit-transform:scale(.72,.72) translate(0,-135px) !important ;
}
.card_cont.cardn{display:block;
transform:translate(0,-1000px) !important; 
-moz-transform:translate(0,-1000px) !important; 
-ms-transform:translate(0,-1000px) !important;
-webkit-transform:translate(0,-1000px) !important;}

.question{display:table-cell; height:80px; font-size:13px; font-weight:100; color:#fff; line-height:1.4; vertical-align:middle; padding-left:1em}
.question span{margin-left:-1em}

/*Radio Specific styles*/
input[type='radio']{ display: none;cursor: pointer;}
input[type='radio']:focus, input[type='radio']:active{outline: none;}
input[type='radio'] + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  color: #666;

}
input[type='radio']:checked + label {color: #c733c5 !important;}
input[type='radio'] + label:before, input[type='radio'] + label:after{
  content: '';
  font-family: helvetica;
  display: inline-block;
  width: 20px;
  height:20px;
  left: 0;
  top: 0;
  text-align: center;
  position: absolute;
}
input[type='radio'] + label:before {background-color:transparent;}
input[type='radio'] + label:after {color: #c733c5;}
input[type='radio']:checked + label:before {
  -moz-box-shadow: inset 0 0 0 5px #fff;
  -webkit-box-shadow: inset 0 0 5px #fff;
  box-shadow: inset 0 0 0 5px #fff; 
  border:1px solid #c733c5;
  background-color:#c733c5;
}

input[type='radio'] + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border:1px solid #c733c5;
}

input[type='radio'] + label:hover:after {color: #c733c5;}
input[type='radio']:checked + label:after, input[type='radio']:checked + label:hover:after {color: #c733c5;}

input[type='text'] {
  width: 100%;
  height: 40px;
  border: solid 1px block;
}

ul.select li{line-height:1.5; margin:0 0 20px 0 }

.test_big {
  font-size: 20px;
}

/* 复选框 */
.squared {
  width: 100%;
  position: relative;
  margin: 20px auto;
}
.squared label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squared label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 6px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.squared label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.squared input[type=checkbox] {
  visibility: hidden;
}
.squared input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.squared p {
  display: block;
  float: left;
  margin-left: 25px;
}

@media only screen and (max-width: 348px) {
  .card_wrap{ height:504px;}
  .card_cont{ height:440px;}
  ul.select{margin-top:2px}
  ul.select li {
    height: 28px;
  }
}

@media only screen and (min-width: 349px) and (max-width: 400px) {
  .card_wrap{ height:554px;}
  .card_cont{ height:510px;}
  ul.select{margin-top:10px}
  ul.select li {
    height: 30px;
  }
}

@media only screen and (min-width: 401px) {
  .card_wrap{ height:584px;}
  .card_cont{ height:530px;}
  ul.select{margin-top:20px}
  ul.select li {
    height: 40px;
  }
}

.test_btn {
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}
.test_a {
  display: block;
  height: 40px;
  width: 100px;
  background-color: #7986cb;
  color: #ECEFF1;
  padding: 5px;
  border: 3px solid #ECEFF1;
  border-radius: 40px;
  font-size: 18px;
}

/* 分享 */
.hw-overlay {
  display:none; 
  position: fixed; 
  top:0;left:0;
  width:100%;
  height:100%; 
  background-color: rgba(255,255,255,0.3);
  z-index:10;
}
.hw-layer-wrap {
  box-sizing:border-box; 
  width:100%; 
  height: 35%;
  position:absolute;
  z-index: 11;
  left:0;
  bottom:0;  
  background-color:rgb(188,193,193); 
  box-shadow:1px 2px 4px 0 rgba(255,235,78,0.12); 
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media only screen and (max-width: 340px) {

  h6 {
    width: 100%;
    height: 20%;
    font-size: 18px;
    text-align: center;
    color: #24102d;
  }
  h6 img {
    position: relative;
    top: 10%;
    width: 30px;
    height: 31px;
  }
  h6 span {
    position: relative;
    top: -15%;
    left: 5px;
    letter-spacing:5px;
  }
  .test_bottom {
    width:100%; 
    height: 80%;
    background-color:rgb(120,134,133); 
    padding: 2% 5%;  
  }
  .test_bottom a {
    display: block;
    height: 50%;
    float: left;
    margin: 1% 2%;
  }
  .test_bottom li {
    display: block;
    float: left;
    margin: 1% 2%;
  }
  .test_bottom div {
    margin:1% 2%;
    display: block;
    width: 23%;
    height: 50%;
    float: left;
  }
  .test_bottom p {
    display: block;
    width: 60px;
    font-size: 14px;
    color: #24102d;
    text-align: center;
  }
  .test_bottom img {
    margin: 1% 2%;
    width: 50px;
    height: 51px;
  }

}

@media only screen and (min-width: 341px) and (max-width: 365px) {
  
  h6 {
    width: 100%;
    height: 20%;
    font-size: 18px;
    text-align: center;
    color: #24102d;
  }
  h6 img {
    position: relative;
    top: 10%;
    width: 38px;
    height: 39px;
  }
  h6 span {
    position: relative;
    top: -15%;
    left: 5px;
    letter-spacing:5px;
  }
  .test_bottom {
    width:100%; 
    height: 80%;
    background-color:rgb(120,134,133); 
    padding: 2% 5%;
  }
  .test_bottom a {
    display: block;
    height: 50%;
    float: left;
    margin: 1% 2%;
  }
  .test_bottom li {
    display: block;
    float: left;
    margin: 1% 2%;
  }
  .test_bottom div {
    margin:1% 2%;
    display: block;
    width: 25%;
    height: 50%;
    float: left;
  }
  .test_bottom p {
    display: block;
    width: 65px;
    font-size: 16px;
    color: #24102d;
    text-align: center;
  }
  .test_bottom img {
    margin: 1% 2%;
    width: 50px;
    height: 51px;
  }

}

@media only screen and (min-width: 366px) and (max-width: 400px) {

  h6 {
    width: 100%;
    height: 25%;
    font-size: 18px;
    text-align: center;
    color: #24102d;
  }
  h6 img {
    position: relative;
    top: 15%;
    width: 38px;
    height: 39px;
  }
  h6 span {
    position: relative;
    top: -10%;
    left: 5px;
    letter-spacing:5px;
  }
  .test_bottom {
    width:100%; 
    height: 75%;
    background-color:rgb(120,134,133); 
    padding: 2% 4%;
  }
  .test_bottom a {
    display: block;
    height: 50%;
    float: left;
    margin: 1% 2%;
  }
  .test_bottom li {
    display: block;
    float: left;
    margin: 1% 2%;
  }
  .test_bottom div {
    margin:1% 2%;
    display: block;
    width: 25%;
    height: 50%;
    float: left;
  }
  .test_bottom p {
    display: block;
    width: 70px;
    color: #24102d;
    text-align: center;
  }
  .test_bottom img {
    margin: 1% 2%;
    width: 55px;
    height: 56px;
  }

}

@media only screen and (min-width: 401px) {

  h6 {
    width: 100%;
    height: 25%;
    font-size: 18px;
    text-align: center;
    color: #24102d;
  }
  h6 img {
    position: relative;
    top: 15%;
    width: 42px;
    height: 43px;
  }
  h6 span {
    position: relative;
    top: -10%;
    left: 5px;
    letter-spacing:5px;
  }
  .test_bottom {
    width:100%; 
    height: 75%;
    background-color:rgb(120,134,133);
    padding:2% 5%;
  }
  .test_bottom a {
    display: block;
    height: 50%;
    float: left;
    margin: 1% 3%;
  }
  .test_bottom li {
    display: block;
    float: left;
    margin: 1% 3%;
  }
  .test_bottom div {
    margin:1% 3%;
    display: block;
    width: 25%;
    height: 50%;
    float: left;
  }
  .test_bottom p {
    display: block;
    width: 70px;
    color: #24102d;
    text-align: center;
  }
  .test_bottom img {
    margin: 1% 3%;
    width: 60px;
    height: 61px;
  }

}

.footer_time {
  width: 100%;
  height: 25px;
  font-size: 18px;
  position: fixed;
  left: 0;
  bottom: 20px;
}
.footer_time p {
  width: 60%;
  margin: 0 auto;
  color: #000;
}